body,
html {
  padding: 0;
  margin: 0;
  font-family: monospace;
  background-color: rgba(41, 41, 41, 0.932);
  color: white;
}

.App {
  text-align: center;
  padding: 2em;
}

.App-number {
  font-size: 15em;
  color: rgb(226, 226, 55);
}

.Beer {
  margin: 10em 0;
}

.Beer-wrapper {
  margin: 0 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 1s;
  align-items: center;
  justify-content: center;
}

.Beer-img {
  padding: 0;
  margin: 0;
  width: 30px;
}

.Beer-img:nth-child(even) {
  animation: bounce 2s infinite;
}

.Beer-img:nth-child(odd) {
  animation: bounce 2s infinite;
  animation-delay: 1s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
}
